:root {
    --main-bg-colour: #e5c8a0;
    --main-text-colour: #271919;
    --main-punctuation-colour: #b24838;
    --character-size:7vh;
    --line-height-pixels: round( var(--character-size)*1.5, 1px );
}


html{
    margin:0;
    padding:0;
    overflow-y: hidden;
    /*height is full viewport*/
    height:100%;
    overscroll-behavior: none;
    cursor:default;
}

@font-face {
    font-family: noto_s;
    src: url('fonts/NotoSerifTC-Medium.otf');
}

@font-face {
    font-family: garamondregular;
    src: url("fonts/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: cursivechinese;
    src: url("fonts/cursive.ttf");
}
body {
    position: absolute;
    overflow-y: hidden;
    overscroll-behavior: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;

    writing-mode: vertical-rl;

    height:calc(100% - 1em);
    font-size: var(--character-size);
    font-family: noto_s;

    /* height: 11.7em; */
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
}


/*remove style from links*/
a {
    text-decoration: none;
    color: var(--main-text-colour);
}

.pageouter {
    border: 0.15em solid var(--main-text-colour);
    padding: 0px;
    height:11.5em;
    /*fit to contents*/
    display: inline-block;
}

.page {
    background-color: var(--main-bg-colour);
    background-image: linear-gradient(0.25turn, var(--main-text-colour), var(--main-text-colour) 0.05em, var(--main-bg-colour) 0);
    background-size: var(--line-height-pixels) 100%;
    line-height: var(--line-height-pixels);
    padding-top: 0.333em;
    padding-bottom: 0.333em;
    border: 0.05em solid var(--main-text-colour);
    margin: 0.1em;
    display: inline-block;
}

.header:before {
    content: "︗";
    color: var(--main-punctuation-colour);
    pointer-events: none;    
}

.header:after {
    content: "︘";
    color: var(--main-punctuation-colour);
    pointer-events: none;
}

.header {
    font-size: 100%;
    font-weight: normal;
}

p {
    font-size: 100%;
    font-weight: normal;
}

a.toclink {
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    color: var(--main-text-colour);
}

/* a.toclink:before {
    content: "︗";
    color: var(--main-punctuation-colour)
}

a.toclink:after {
    content: "︘";
    color: var(--main-punctuation-colour)
} */
/* insert commas between a.toclink's*/
a.toclink:not(:last-child):after {
    content: "、 ";
    position: relative;
    top: -0.4em;
    left: 0.55em;
    /*and you have to make it so that it doesn't leave a gap between other charcaters*/
    margin-bottom: -1.2em;
    color: var(--main-punctuation-colour);
    pointer-events: none;
}
.toclink {
    /* white-space: nowrap; */
}

.poem {
    display: block;
}

/* empty line after .TOC */

.TOC {
    margin-left: 1.5em;
}

.char {
    position: relative;
    display: inline-block;
}

.char .cursivetooltip {
    writing-mode: horizontal-tb;

    opacity: 0.9;
    text-shadow: none;
    display:none;
    position: absolute;
    width:4em;
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
    text-align: center;
    padding: 0.1em 0;
    padding-top:0em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    border: 0.05em solid var(--main-text-colour);
    line-height: normal;
    z-index: 1;
    top: 0px;
    left: 90%;
    -webkit-backdrop-filter: blur(0.06em);
    backdrop-filter: blur(0.06em);
}

.char .tooltiptext {
    writing-mode: horizontal-tb;

    opacity: 0.9;
    text-shadow: none;
    display:none;
    position: absolute;
    width:3em;
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
    text-align: center;
    padding: 0.1em 0;
    padding-top:0em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    border: 0.05em solid var(--main-text-colour);
    line-height: normal;
    z-index: 1;
    top: 0px;
    left: 90%;
    -webkit-backdrop-filter: blur(0.06em);
    backdrop-filter: blur(0.06em);
}


.display_c {
    font-size: 100%;
    pointer-events: all;
}

.cursive {
    padding-left: 0.2em;;
    font-family: cursivechinese;
    font-size: 100%;
}

.defpronounce {
    font-family: garamondregular;
    font-size: 50%;
    display: inline-block;
}

.defgloss {
    font-size: 40%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 2em;
    max-width: 3em;
}

hr {
    display: block;
    height: 0.05em;
    border: 0;
    border-top: 0.05em solid var(--main-text-colour);
    margin: 0;
    padding: 0;
    margin-top: 0.2em;
}

hr:first-of-type {
    padding-top: 0;
    margin-top: 0;
}


.punctuation {
    position: relative;
    top: -0.5em;
    left: 0.55em;
    margin-bottom: -1em;
    color: var(--main-punctuation-colour);
    pointer-events: none;
}

/*don't forget to preload fonts*/
@font-face {                
    font-family: '1';
    src: url('fonts/1.ttf');
}
/* @font-face {
    font-family: '2';
    src: url('fonts/2.ttf');
} */
@font-face {
    font-family: '3';
    src: url('fonts/3.ttf');                
}
/* @font-face {
    font-family: '4';
    src: url('fonts/4.otf');
} */
/* @font-face {
    font-family: '5';
    src: url('fonts/5.ttf');
} */
@font-face {
    font-family: '6';
    src: url('fonts/6.ttc');
}
@font-face {
    font-family: '7';
    src: url('fonts/7.ttf');
}
@font-face {
    font-family: '8';
    src: url('fonts/8.otf');
} 
@font-face {
    font-family: '9';
    src: url('fonts/9.ttf');
}
@font-face {
    font-family: '10';
    src: url('fonts/10.ttf');
}/*
@font-face {
    font-family: '11';
    src: url('fonts/11.ttf');
} */
@font-face {
    font-family: '12';
    src: url('fonts/12.ttf');
}
/* @font-face {
    font-family: '13';
    src: url('fonts/13.ttf');
} */
@font-face {
    font-family: '14';
    src: url('fonts/14.ttf');
}
@font-face {
    font-family: '15';
    src: url('fonts/15.otf');
}
@font-face {
    font-family: '16';
    src: url('fonts/16.ttf');
}
@font-face {
    font-family: '17';
    src: url('fonts/17.ttf');
}
@font-face {
    font-family: '18';
    src: url('fonts/18.ttf');
}
@font-face {
    font-family: '19';
    src: url('fonts/19.ttf');
}
/* @font-face {
    font-family: '20';
    src: url('fonts/20.ttf');
} */
@font-face {
    font-family: '21';
    src: url('fonts/21.ttf');
}
@font-face {
    font-family: '22';
    src: url('fonts/22.ttf');
} 
/* @font-face {
    font-family: '23';
    src: url('fonts/23.ttf');
} */

.s1 {
    font-family: '1';
}
.s2 {
    font-family: '2';
}
.s3 {
    font-family: '3';
}
.s4 {
    font-family: '4';
}
.s5 {
    font-family: '5';
}
.s6 {
    font-family: '6';
}
.s7 {
    font-family: '7';
}
.s8 {
    font-family: '8';
}
.s9 {
    font-family: '9';
}
.s10 {
    font-family: '10';
}
.s11 {
    font-family: '11';
}
.s12 {
    font-family: '12';
}
/* #s13 {
    font-family: '13';
} */
.s14 {
    font-family: '14';
}
.s15 {
    font-family: '15';
}
.s16 {
    font-family: '16';
}
.s17 {
    font-family: '17';
}
.s18 {
    font-family: '18';
}
.s19 {
    font-family: '19';
}
.s20 {
    font-family: '20';
}
.s21 {
    font-family: '21';
}
.s22 {
    font-family: '22';
}
/* #s23 {
    font-family: '23';
} */