:root {
    --main-bg-colour: #e5c8a0;
    --main-text-colour: #271919;
    --main-punctuation-colour: #b24838;
    --character-size:7vh;
    --line-height-pixels: round( var(--character-size)*1.5, 1px );
}


html{
    margin:0;
    padding:0;
    overflow-y: hidden;
    /*height is full viewport*/
    height:100%;
    overscroll-behavior: none;
    cursor:default;
}

@font-face {
    font-family: noto_s;
    src: url('NotoSerifTC-Medium.otf');
}

@font-face {
    font-family: garamondregular;
    src: url("EBGaramond-Regular.ttf");
}

body {
    position: absolute;
    overflow-y: hidden;
    overscroll-behavior: none;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;

    writing-mode: vertical-rl;

    height:calc(100% - 1em);
    font-size: var(--character-size);
    font-family: noto_s;

    /* height: 11.7em; */
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
}


/*remove style from links*/
a {
    text-decoration: none;
    color: var(--main-text-colour);
}

.pageouter {
    border: 0.15em solid var(--main-text-colour);
    padding: 0px;
    height:11.5em;
    /*fit to contents*/
    display: inline-block;
}

.page {
    background-color: var(--main-bg-colour);
    background-image: linear-gradient(0.25turn, var(--main-text-colour), var(--main-text-colour) 0.05em, var(--main-bg-colour) 0);
    background-size: var(--line-height-pixels) 100%;
    line-height: var(--line-height-pixels);
    padding-top: 0.333em;
    padding-bottom: 0.333em;
    border: 0.05em solid var(--main-text-colour);
    margin: 0.1em;
    display: inline-block;
}

.header:before {
    content: "︗";
    color: var(--main-punctuation-colour);
    pointer-events: none;    
}

.header:after {
    content: "︘";
    color: var(--main-punctuation-colour);
    pointer-events: none;
}

.header {
    font-size: 100%;
    font-weight: normal;
}

p {
    font-size: 100%;
    font-weight: normal;
}

a.toclink {
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    color: var(--main-text-colour);
}

/* a.toclink:before {
    content: "︗";
    color: var(--main-punctuation-colour)
}

a.toclink:after {
    content: "︘";
    color: var(--main-punctuation-colour)
} */
/* insert commas between a.toclink's*/
a.toclink:not(:last-child):after {
    content: "、 ";
    position: relative;
    top: -0.4em;
    left: 0.55em;
    /*and you have to make it so that it doesn't leave a gap between other charcaters*/
    margin-bottom: -1.2em;
    color: var(--main-punctuation-colour);
    pointer-events: none;
}
.toclink {
    /* white-space: nowrap; */
}

.poem {
    display: block;
}

/* empty line after .TOC */

.TOC {
    margin-left: 1.5em;
}

.char {
    position: relative;
    display: inline-block;
}

.char .tooltiptext {
    writing-mode: horizontal-tb;

    opacity: 0.9;
    text-shadow: none;
    display:none;
    position: absolute;
    width:3em;
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
    text-align: center;
    padding: 0.1em 0;
    padding-top:0em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    border: 0.05em solid var(--main-text-colour);
    line-height: normal;
    z-index: 1;
    top: 0px;
    right: 87%;
    -webkit-backdrop-filter: blur(0.06em);
    backdrop-filter: blur(0.06em);
}


.display_c {
    font-size: 100%;
    pointer-events: all;
}

.defpronounce {
    font-family: garamondregular;
    font-size: 50%;
    display: inline-block;
}

.defgloss {
    font-size: 40%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 2em;
    max-width: 3em;
}

hr {
    display: block;
    height: 0.05em;
    border: 0;
    border-top: 0.05em solid var(--main-text-colour);
    margin: 0;
    padding: 0;
    margin-top: 0.2em;
}

hr:first-of-type {
    padding-top: 0;
    margin-top: 0;
}


.punctuation {
    position: relative;
    top: -0.5em;
    left: 0.55em;
    margin-bottom: -1em;
    color: var(--main-punctuation-colour);
    pointer-events: none;
}